<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
  <link href="{% static 'css/all.css' %}" rel="stylesheet" />
  <title>Title</title>
  <style>
    :root {
      --bgcolor: linear-gradient(60deg, #00C851, #007E33);
      --txtcolor: #007E33;
    }

    .t1 {
      font-size: 14px;
    }

    .bg-mycolor {
      background: var(--bgcolor) !important;
    }

    .txt-mycolor {
      color: var(--txtcolor);
    }

    .fa-brands {
      border: 1px solid white;
      padding: .3%;
      transition: all 1s;
    }

    .fa-brands:hover {
      transform: rotate(360deg);
      transition: all 1s;
      background: white;
      color: #FF8800;
    }

    #menu {
      background: transparent !important;
    }

    #menu ul li a {
      color: white;
    }

    .ufooter {
      min-height: 300px;

    }

    .bfooter {
      min-height: 50px;
    }
  </style>
</head>

<body>
  <script src="{% static 'js/bootstrap.bundle.js'%}"></script>
  <div class="container-fluid">
    <div class="row t1 text-center bg-mycolor text-light py-1">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <i class="fa-solid fa-phone"></i> +91,9534261545
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <i class="fa-solid fa-envelope"></i>
        amankr@techpile.in
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        An ISO Certified Software Company
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-youtube"></i>
        <i class="fa-brands fa-square-whatsapp"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>
    <div class="row t2">
      <div class="col-sm-10 mx-auto">
        <div class="row py-3">
          <div class="col-sm-4 fs-2">
            10Min<b class="txt-mycolor">Zepto
              <i class="fa-solid fa-laptop-file"></i></b>
          </div>
          <div class="col-sm-3">

          </div>
          <div class="col-sm-3 text-end">
            {% if request.session.user %}
            <a href="/user/cartitems/" class="btn btn-sm bg-mycolor text-light">Cart
              <i class="fa-solid fa-cart-shopping"></i>
              <b class="badge text-bg-light">{{request.session.cartitems}}</b>
            </a>
            <a href="/user/orderslist/" class="btn btn-sm bg-mycolor text-light">My Orders
              <i class="fa-solid fa-truck-fast"></i>

            </a>
            {% else %}

            <a href="/user/cartitems/" class="btn bg-mycolor text-light">Cart
              <i class="fa-solid fa-cart-shopping"></i>
              <b class="badge text-bg-light">0</b>
            </a>

            {% endif %}


          </div>
          <div class="col-sm-2 fs-5">
            {% if request.session.user %}

            <a href="/user/myprofile/">{{request.session.username}}
              <img src="/{{request.session.userpic}}" style="max-height:45px;width:45px;" class="img-thumbnail">
            </a>

            {% else %}

            <a href="#" class="nav-link disabled"> Default User
              <img src="{% static 'images/default.jpg'%}" style="max-height:45px;" class="img-thumbnail">
            </a>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="row t3 bg-dark">
      <div class="col-sm-8 mx-auto">
        <!-- start menu -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary" id="menu">
          <div class="container-fluid">

            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/user/index/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user/about/">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user/product/">Product</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user/contact/">Customer Support</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user/signup/">Sign Up</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/user/myprofile/">My profile</a>
                </li>
                {% if request.session.user %}

                <li class="nav-item">
                  <a class="nav-link" href="/user/signout/">Sign Out</a>
                </li>
                {% else %}
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user/signin/">Sign In</a>
                </li>
                {% endif %}



              </ul>

            </div>
          </div>
        </nav>
        <!-- end menu -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 py-3" style="min-height:500px;">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <div class="row ufooter bg-dark">
      <div class="col-lg-6 mx-auto">
        <div class="row">
          <div class="col-sm-12 col-lg-6 text-light p-5 text-right">
            <b><i class="fa-solid fa-house"></i> Contact Address</b><br />
            <p>plot no-43, Behind H.P Paterol pump,<br /> Vikash Nagar Lucknow,<br />Utter pradesh, 226022 <br /><br />
              <i class="fa-solid fa-phone"></i> 9534261545<br /><i class="fa-solid fa-phone"></i> 9608825901<br /><i
                class="fa-solid fa-envelope"></i> amanraj953426@gmail.com
            </p>
          </div>
          <div class="col-sm-12 col-lg-6 col-md-4 text-light p-5">
            <p>10 Min <b class="txt-mycolor1">Zepto</b></p>
            <p>© 10 Min Zepto Commerce Private Limited, 2024</p>
            <b>Stay Connected</b><br />
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-whatsapp"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row bfooter bg-dark mt-1 fs-4 text-light text-center py-3">
      <div class="col-sm-6">
        <a href="https://www.techpile.in" target="_blank" style="text-decoration:none;color:white;">&copy; 10 min zepto
          Pvt. Ltd.
        </a>
      </div>
      <div class="col-sm-6">
        Designed & Developed By :<a href="/user/mprofile/" style="text-decoration:none;color:white;">Aman kumar</a>
      </div>
    </div>
  </div>

</body>

</html>