{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="text-center fs-2">
    About <b class="txt-mycolor">Us <i class="fa-regular fa-address-card"></i></b>

</div>
<div class="row">
    <div class="col-12">
        <p>
            Welcome to 10 min zepto, where passion meets convenience.

            At 10 min zepto, we believe in bringing you more than just products; we're dedicated to
            crafting an experience tailored to your needs and desires. Whether you're seeking the latest trends,
            timeless
            classics, or unique finds, we've curated a diverse selection to satisfy every style and preference.

            Our journey began with a simple yet powerful vision: to redefine online shopping by combining innovation
            with
            customer-centricity. With this commitment in mind, we've tirelessly worked to create a platform that not
            only
            showcases exceptional products but also fosters a sense of community and connection.

            What sets us apart is our unwavering dedication to quality, authenticity, and integrity. We collaborate
            directly
            with trusted brands and artisans, ensuring that each item meets our stringent standards before it reaches
            your
            doorstep. From sourcing the finest materials to prioritizing sustainable practices, we're committed to
            delivering excellence in every aspect of our business.

            But our mission extends beyond just transactions; we strive to inspire and empower individuals to express
            themselves boldly through their choices. Whether you're revamping your wardrobe, redecorating your home, or
            searching for the perfect gift, we're here to help you turn your vision into reality.

            As a customer-centric company, your satisfaction is our top priority. Our friendly and knowledgeable team is
            always here to assist you every step of the way, whether you have a question about a product or need
            assistance
            with your order. We're dedicated to providing you with a seamless and enjoyable shopping experience, from
            browsing to checkout and beyond.

            Thank you for choosing 10 min zepto. Join us on this exciting journey as we continue to
            redefine online shopping and inspire creativity, one exceptional find at a time.

            Happy shopping!

            10 min zepto team</p>
    </div>
    {% endblock %}